#######################################################
#   ____  ____   ___  ____  _   _  ____    _    ___    #
#  |  _ \|  _ \ / _ \|  _ \| | | |/ ___|  / \  / _ \   # 
#  | |_) | |_) | | | | | | | | | | |     / _ \| | | |  #
#  |  __/|  _ <| |_| | |_| | |_| | |___ / ___ \ |_| |  # 
#  |_|   |_| \_\\___/|____/ \___/ \____/_/   \_\___/   #
#                                                      #
#######################################################
# Ajustar sempre que subir versao.
TAG="24-06-2026_22-42"

# -----------------------------------------------------
# Nome do sistema
APP_NAME="NOME SISTEMA"
# -----------------------------------------------------

# Portas Externas (Mapeamento do Host para não conflitar com o Dev)
PORTA_HTTP=8080
PORTA_VITE=5173
PORTA_REDIS=6379   
PORTA_MYSQL=3306   

# Configuração Base do MySQL (Criação de Containers)
MYSQL_ROOT_PASSWORD="kP9vL2mX7Z4wQ8"
MYSQL_DATABASE=producao_sistema  
MYSQL_USER="laravel_user"
MYSQL_PASSWORD="mK2vB9pX4wQ7xZ9"

# Docker Configuration
COMPOSE_PROJECT_NAME="prod"
# Configuração Core do Laravel
APP_ENV=production
APP_KEY=base64:QX61TrSR+R6HRUpxedbqBq+rFibkIfW3AZne1Q0XaAk=
APP_DEBUG=false
APP_URL=http://localhost:${PORTA_HTTP}
APP_TIMEZONE=America/Sao_Paulo

# Permissões do Container
USER_ID=1000
GROUP_ID=1000

# Localização
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_BR
APP_MAINTENANCE_DRIVER=file

# Otimizações e Segurança
BCRYPT_ROUNDS=12
TELESCOPE_ENABLED=false

# Logs
LOG_CHANNEL=stack
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

# Conexão com o Banco de Dados (Laravel)
DB_CONNECTION=mysql
DB_HOST=prod_db_mysql        
DB_DATABASE=producao_sistema      
DB_USERNAME=${MYSQL_USER}
DB_PASSWORD=${MYSQL_PASSWORD}
DB_PORT=3306                      

# Drivers globais (Redis)
SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null
QUEUE_CONNECTION=redis
CACHE_STORE=redis

# Conexão com o Redis (Laravel)
REDIS_CLIENT=phpredis
REDIS_HOST=prod_cache         
REDIS_PASSWORD=null
REDIS_PORT=6379                   

# Serviços de Email (Mailtrap)
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST="sandbox.smtp.mailtrap.io"
MAIL_PORT=587
MAIL_USERNAME='c05185933c7afa'
MAIL_PASSWORD="3294d08fc6adae"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@yourdomain.com"
MAIL_FROM_NAME="${APP_NAME}"
MAIL_MAILTRAP_KEY="ee4b3323b882d8b0f83b8ce3e0d60f09"

# Storage AWS (Se necessário no futuro)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# Configurações do Frontend (Vite / Inertia)
VITE_APP_NAME="${APP_NAME}"
VITE_SUITE_URL=${APP_URL}
VITE_PORT=${PORTA_VITE}
ASSET_URL=http://localhost:${PORTA_HTTP}
VITE_DEV_SERVER_URL=http://localhost:${PORTA_VITE}